<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/style.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
        <div class="container-fluid">
            
            <a class="navbar-brand fs-2" href="http://localhost:3003/feed">
            <p>Ranter</p>
            </a>

            <form class="d-flex" id='search-form'>
                <div class="form-outline rounded-3">
                    <input id="search-input" type="search" id="" class="form-control" placeholder="Search Ranter..." aria-label="Search"/>
                </div>
                <button id="search-button" type="button" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </form>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fas fa-user"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                    {{!-- <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li> --}}
                </ul>
            </div>

        </div>
    </nav>

    <main>
        {{{ body }}}
    </main>
    
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    const searchField = document.getElementById('search-input')
const searchForm = document.getElementById('search-form')

function search(query) {
    window.location.href = (`http://localhost:3003/users/find/${query}`)
}

function searchHandler(e) {
    e.preventDefault()
    const query = searchField.value.trim()
    search(query)
}

searchForm.addEventListener('submit', searchHandler)
</script>

</html>