{{!-- create a post --}}
<section>
  <h2>Add a Rant</h2>

  <form class="new-post-form">
    <div class="text">
      {{text}}
    </div>
    
    <button type="submit" class="btn">Rant</button>
  </form>
</section>


<div class='container-fluid d-flex flex-column justify-content-center align-items-center'>
  {{#each posts as |post|}}
    {{> post-view post}}
  {{/each}}
</div>


<script src='/assets/js/add-rant.js'></script>



