<div class='container-fluid d-flex flex-column justify-content-center align-items-center'>
  <section class='border border-2 py-3 px-5 my-3 mt-4 post card'>
    <form class="new-post-form">
      <div class="mb-3">
        <label for="rant-textarea" class="form-label">Go ahead, rant...</label>
        <textarea class="form-control post-text" id="rant-textarea" rows="4"></textarea>
      </div>
<<<<<<< HEAD
      <button type="submit" id='submit-rant' class="btn btn-primary float-end"><i class="fa fa-bullhorn"></i></button>
=======
      <button type="button" class="btn btn-primary float-end"><i class="fa fa-bullhorn"></i></button>
>>>>>>> a57e631 (fix conflicts)
    </form>
  </section>

  {{#each posts as |post|}}
    {{> post-view post}}
  {{/each}}
</div>


<script src='../assets/js/add-rant.js'></script>




