
<div class="container" id="signinUpContainer">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-bold fs-1">Ranter</h5>
                
                <form class='login-form' id="signin-form">

                    <div class="form-floating mb-3">
                        <input type="username" class="form-control" id="username-login" placeholder="Username">
                        <label for="floatingInput">Username</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password-login" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    
                    <div class="d-grid">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" id="signin">Sign In</button>
                    </div>

                    <div class="mb-2">
                        <p>Don't have an account? 
                            <button class="btn btn-signup fw-bold mb-2" type="submit" id="switch-to-signup">
                            Sign Up
                            </button>
                        </p>
                    </div>
                </form>

                <form class='signup-form hide' id="signup-form">

                    <div class="form-floating mb-3">
                        <input type="username" class="form-control" id="username-signup" placeholder="Username">
                        <label for="floatingInput">Choose a Username</label>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password-signup" placeholder="Password">
                        <label for="floatingPassword">Choose a Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                        <label for="floatingEmail">Email</label>
                    </div>


                   

                    
                    
                    <div class="d-grid">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" id="signup">Sign Up</button>
                    </div>

                    <div class="mb-2">
                        <p>Already have an account? 
                            <button class="btn btn-signup fw-bold mb-2" type="submit" id="switch-to-signin">
                            Sign In 
                            </button>
                        </p>
                    </div>
                                
                </form>

            </div>
        </div>
    </div>
</div>


        

<script src='../assets/js/login.js'></script>
